h1 {
  color: red;
}
p {
  font-size: 25px;
}
body {
  background-color: green;
}

.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.section {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}